.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 600px;
  height: 500px;
  border-radius: 10px; 
}

.left {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color:black;
  z-index: 10;
  cursor: pointer;
}

.right {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color:black;
  z-index: 10;
  cursor: pointer;
}